/* CSS declarations go here */
#controlsRow {
    margin-bottom: 20px;
}

#sheetNameText{
    position: relative; 
    top: 5px; 
    font-size: 1.3em;
}

#downloadLink{
    position: relative; 

}

#deleteSheet{
    position: relative; 

}

.slightMargin{
    margin: 15px;
}

.slightMarginTopBottom{
    margin-top: 15px;
    margin-bottom: 15px;
}

.slightMarginBottom{
    margin-bottom: 5px;
}

#dgNav {
    margin-bottom: 0px;
}


.tabTitle{
    font-size: 1.2em;
}



.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; 
     zoom:1; 
}

.nav-tabs, .nav-pills {
    text-align:center;
}
/* This is
a multi-line
comment */